# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
tests/.mypy_cache/3.8/_ast.data.json
tests/.mypy_cache/3.8/_ast.meta.json
tests/.mypy_cache/3.8/_importlib_modulespec.data.json
tests/.mypy_cache/3.8/_importlib_modulespec.meta.json
tests/.mypy_cache/3.8/_thread.data.json
tests/.mypy_cache/3.8/_thread.meta.json
tests/.mypy_cache/3.8/@plugins_snapshot.json
tests/.mypy_cache/3.8/abc.data.json
tests/.mypy_cache/3.8/abc.meta.json
tests/.mypy_cache/3.8/ast.data.json
tests/.mypy_cache/3.8/ast.meta.json
tests/.mypy_cache/3.8/builtins.data.json
tests/.mypy_cache/3.8/builtins.meta.json
tests/.mypy_cache/3.8/codecs.data.json
tests/.mypy_cache/3.8/codecs.meta.json
tests/.mypy_cache/3.8/datetime.data.json
tests/.mypy_cache/3.8/datetime.meta.json
tests/.mypy_cache/3.8/io.data.json
tests/.mypy_cache/3.8/io.meta.json
tests/.mypy_cache/3.8/mmap.data.json
tests/.mypy_cache/3.8/mmap.meta.json
tests/.mypy_cache/3.8/posix.data.json
tests/.mypy_cache/3.8/posix.meta.json
tests/.mypy_cache/3.8/string.data.json
tests/.mypy_cache/3.8/string.meta.json
tests/.mypy_cache/3.8/sys.data.json
tests/.mypy_cache/3.8/sys.meta.json
tests/.mypy_cache/3.8/threading.data.json
tests/.mypy_cache/3.8/threading.meta.json
tests/.mypy_cache/3.8/time.data.json
tests/.mypy_cache/3.8/time.meta.json
tests/.mypy_cache/3.8/types.data.json
tests/.mypy_cache/3.8/types.meta.json
tests/.mypy_cache/3.8/typing.data.json
tests/.mypy_cache/3.8/typing.meta.json
tests/.mypy_cache/3.8/collections/__init__.data.json
tests/.mypy_cache/3.8/collections/__init__.meta.json
tests/.mypy_cache/3.8/collections/abc.data.json
tests/.mypy_cache/3.8/collections/abc.meta.json
tests/.mypy_cache/3.8/importlib/__init__.data.json
tests/.mypy_cache/3.8/importlib/__init__.meta.json
tests/.mypy_cache/3.8/importlib/abc.data.json
tests/.mypy_cache/3.8/importlib/abc.meta.json
tests/.mypy_cache/3.8/logging/__init__.data.json
tests/.mypy_cache/3.8/logging/__init__.meta.json
tests/.mypy_cache/3.8/os/__init__.data.json
tests/.mypy_cache/3.8/os/__init__.meta.json
tests/.mypy_cache/3.8/os/path.data.json
tests/.mypy_cache/3.8/os/path.meta.json
tests/.mypy_cache/3.8/unittest/__init__.data.json
tests/.mypy_cache/3.8/unittest/__init__.meta.json
tests/.mypy_cache/3.8/unittest/async_case.data.json
tests/.mypy_cache/3.8/unittest/async_case.meta.json
tests/.mypy_cache/3.8/unittest/case.data.json
tests/.mypy_cache/3.8/unittest/case.meta.json
tests/.mypy_cache/3.8/unittest/loader.data.json
tests/.mypy_cache/3.8/unittest/loader.meta.json
tests/.mypy_cache/3.8/unittest/result.data.json
tests/.mypy_cache/3.8/unittest/result.meta.json
tests/.mypy_cache/3.8/unittest/runner.data.json
tests/.mypy_cache/3.8/unittest/runner.meta.json
tests/.mypy_cache/3.8/unittest/signals.data.json
tests/.mypy_cache/3.8/unittest/signals.meta.json
tests/.mypy_cache/3.8/unittest/suite.data.json
tests/.mypy_cache/3.8/unittest/suite.meta.json
